/* style.css (login.html y registro.html) */

body {
    font-family: Arial, sans-serif;
    background-color: #0f1116;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #e5e5e5;
}

.tarjeta {
    background-color: #1b1d24;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(127, 0, 255, 0.5);
    width: 320px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #7F00FF;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2b2d36;
    color: #e5e5e5;
}

input[type="submit"] {
    background-color: #7F00FF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #5F00C7;
}

.registro-link {
    text-align: center;
    margin-top: 15px;
}

.registro-link p {
    color: #cfcfcf;
}

.registro-link a {
    color: #7F00FF;
    text-decoration: none;
    font-weight: bold;
}

.registro-link a:hover {
    text-decoration: underline;
    color: #5F00C7;
}
